.main-header {
  width: 100%;
}
.main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.main-content > h1, h2 {
  font-size: xx-large;
  font-weight: bold;
}

.side-content {
  display: flex;
  flex-direction: column;
}

.side-content > h2 {
  font-size: x-large;
}

.side-content > ul {
  list-style:circle;
}
