.dashboard-container {
    display: flex;
    flex-direction: column;
    width: 100%
}

.navbar  .container {
    display: flex;
    height: 20px;
    background-color: #000;
    color: #fff;
    border: 1px solid black;
}
